.custom-pagination {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .pagination-item {
    width: 150px;
    height: 3px;
    background-color: #ccc;
    flex-grow: 1;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .pagination-active-item {
    width: 150px;
    background-color: #333;
    transition: all 1s ease;
  }

  .overlay{
    background-color: rgba(0, 0, 0, .5);
  }

  .backdrop-blur::backdrop{
    background: transparent;
    backdrop-filter: blur(5px);
  }

  .video_plyBtn {
    position: absolute;
    display: -ms-grid;
    display: grid;
    place-items: center;
    font-size: 30px;
    width: 2.3333em;
    height: 2.3333em;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  